apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: "2025-12-12T09:53:55Z"
  generation: 1
  labels:
    app: my-argocd-test
  name: my-argocd-test
  namespace: my-argocd-test 
  resourceVersion: "22424"
  uid: 8a45749e-2999-4d94-aa2b-c3aec6d31284
spec:
  progressDeadlineSeconds: 600
  replicas: 6
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: my-argocd-test
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: my-argocd-test
    spec:
      containers:
      - image: nginx:1.27.5
        imagePullPolicy: IfNotPresent
        name: nginx
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status: {}
